.diceBoard {
  width: 600px;
  background-color: #264d3b;
  border-radius: 20px;
  padding: 40px;
}

.diceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 60px;
  min-height: 240px;
  align-items: center;
}

.diceActions {
  height: 80px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.rollBtn {
  transform: translateX(-50%);
  cursor: pointer;
  color: #382d22;
  padding: 6px 12px;
  font: 600 28px "Roboto", sans-serif;
  border: 3px solid #382d22;
  background-color: #c4a681;
  transition: 0.4s;
  height: 60px;
  width: 200px;
  margin-left: 236px;
  border-radius: 10px;
}

.counterSection {
  display: flex;
  flex-direction: column;
}

.counterBtn {
  cursor: pointer;
  color: #382d22;
  font: 600 20px "Roboto", sans-serif;
  border: 2px solid #382d22;
  background-color: #c4a681;
  transition: 0.4s;
  height: 30px;
  width: 60px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
/* .rollBtn:hover {
  color: #fff;
  background: #966e51;
} */
